<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/icon.png" type="image/png">
    <title>Download Links</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f0f2f5;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 90%;
            max-width: 800px;
            margin: auto;
        }
        .header {
            font-size: 28px;
            margin-bottom: 20px;
            color: #333;
            text-align: center;
        }
        .btn-container {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            justify-content: center;
        }
        .btn {
            flex: 1 1 calc(50% - 30px); /* Adjusting for gap */
            margin: 10px;
            padding: 15px 20px;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            text-align: center;
            color: #fff;
            background-color: #007bff;
            border: none;
            border-radius: 50px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s, transform 0.3s;
            display: inline-block;
            width: 100%;
            max-width: 300px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .btn:hover {
            background-color: #0056b3;
            transform: translateY(-2px);
        }
        .btn:active {
            transform: translateY(0);
        }
        @media (max-width: 600px) {
            .btn {
                flex: 1 1 100%;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">Select quality</div>
        <div class="btn-container">
            <% links.forEach(function(link) { %>
                <% if (link.href.includes("embedpk")) { %>
                    <a href="/pkdownload?link=<%= link.href %>" class="btn"><%= link.text.replace("PkSpeed ","").replace("0p","0").replace("Click To Download","")></a>
                <% } %>
            <% }); %>
        </div>
    </div>
</body>
</html>
